In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
ecom=pd.read_csv("ecom.csv")

In [6]:
ecom.shape

(10999, 12)

In [8]:
ecom.head()

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1

In [9]:
ecom.iloc[180]

ID                        181
Warehouse_block             D
Mode_of_Shipment         Ship
Customer_care_calls         4
Customer_rating             1
Cost_of_the_Product       161
Prior_purchases             7
Product_importance     medium
Gender                      F
Discount_offered           18
Weight_in_gms            1294
Reached.on.Time_Y.N         1
Name: 180, dtype: object

In [13]:
ecom.loc[(ecom["Mode_of_Shipment"]=="flight") & (ecom["Weight_in_gms"]>7000)]

Empty DataFrame
Columns: [ID, Warehouse_block, Mode_of_Shipment, Customer_care_calls, Customer_rating, Cost_of_the_Product, Prior_purchases, Product_importance, Gender, Discount_offered, Weight_in_gms, Reached.on.Time_Y.N]
Index: []

In [14]:
ecom.Customer_rating.mean()

2.9905445949631786

In [16]:
ecom.Customer_rating.median()

3.0

In [19]:
ecom.Customer_rating.var()

1.9982739259753057

In [18]:
ecom.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
count,10999.00000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000,10999.000000
mean,5500.00000,4.054459,2.990545,210.196836,3.567597,13.373216,3634.016729,0.596691
std,3175.28214,1.141490,1.413603,48.063272,1.522860,16.205527,1635.377251,0.490584
min,1.00000,2.000000,1.000000,96.000000,2.000000,1.000000,1001.000000,0.000000
25%,2750.50000,3.000000,2.000000,169.000000,3.000000,4.000000,1839.500000,0.000000
50%,5500.00000,4.000000,3.000000,214.000000,3.000000,7.000000,4149.000000,1.000000
75%,8249.50000,5.000000,4.000000,251.000000,4.000000,10.000000,5050.000000,1.000000
max,10999.00000,7.000000,5.000000,310.000000,10.000000,65.000000,7846.000000,1.000000